<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="arm_macro" params="id">
    <ros2_control name="arm_${id}" type="system">
      <xacro:unless value="$(arg use_mock_hardware)">
        <hardware>
          <plugin></plugin> #TODO Placeholder for real hardware
        </hardware>
      </xacro:unless>

      <xacro:if value="${$(arg use_mock_hardware) and $(arg use_sim)}">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:unless>

      <xacro:if value="${$(arg use_mock_hardware) and not $(arg use_sim)}">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
        </hardware>
      </xacro:unless>

      <joint name="$arm_revolute_${id}">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="$arm_slider_${id}">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>

  <xacro:arm_macro id ="1"/>
  <xacro:arm_macro id ="2"/>
  <xacro:arm_macro id ="3"/>
  <xacro:arm_macro id ="4"/>

  <ros2_control name="canvas" type="system">
    <xacro:unless value="$(arg use_mock_hardware)">
      <hardware>
        <plugin></plugin> #TODO Placeholder for real hardware
      </hardware>
    </xacro:unless>

    <xacro:if value="${$(arg use_mock_hardware) and $(arg use_sim)}">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
    </xacro:unless>

    <xacro:if value="${$(arg use_mock_hardware) and not $(arg use_sim)}">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>
    </xacro:unless>

    <joint name="$canvas_revolute">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>
</robot>