<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="bot_ros2_control" params="name prefix use_mock_hardware">

    <ros2_control name="${name}" type="system">
      <!-- Physical hardware plugin-->
      <xacro:unless value="${use_mock_hardware}">
        <hardware>
          <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
          <param name="can">can0</param>
        </hardware>
      </xacro:unless>

      <!-- Generic mock hardware motors-->
      <!-- TODO Make it so that GazeboSimSystem is dependent on use_sim, and GenericSystem is dependent on !use_sim and use_mock_hardware-->
      <xacro:if value="${use_mock_hardware}">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>


      <!-- Odrive node ID setups-->
      <joint name="${prefix}left_wheel_joint">
        <param name="node_id">0</param>
         <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <param name="node_id">1</param>
         <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      
    </ros2_control>

  </xacro:macro>

</robot>